[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tweepy = "*"
pylint = "*"
black = "*"
isort = "*"
langchain-openai = "*"
langchain-community = "*"
langchain = "*"
langchain-ollama = "*"
langchainhub = "*"
dotenv = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11.6"

[pipenv]
allow_prereleases = true
